/* src/components/UIComponents/ScrollableContainer/ScrollableContainer.module.css */
.scrollY {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.scrollX {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}
